#{extends 'upload_common/upload_index.html' /}
	<form action="@{Ideas.addIdea}" name="myform" id ="myform" method="post"  enctype="multipart/form-data">
		<div class="content_center">
			<!-- one item 要显示请去掉none-->
			<div class="upload_content_center_item3 item_border_top">
				<input type="hidden" id = "upload_title_hidden" name = "title" value ="${title}"/>
				<input type="hidden" name = "type" value ="${type}"/>
				<textarea id="editor" placeholder="这里输入内容" name = "text"></textarea>
				<div class="upload_content_center_item3_button_container">
					<button type="submit" class="content_center_item_next" id="third_text">下一步</button>
				</div>
			</div>
		</div>
	</form>

#{set 'moreScripts'}
	<script type="text/javascript" src = "@{'/public/javascripts/jquery.min.js'}"></script>
	  <script type="text/javascript" src = "@{'/public/javascripts/simditor-all.min.js'}"></script>
	 	<script type="text/javascript">
				 	//设置头的标题
				$("#upload_content_top_name").text($("#upload_title_hidden").val());
				$(".upload_content_top").removeClass("none");
				$(".content_top li").eq(1).removeClass("hidden");
					var editor = new Simditor(
					{
						textarea: $('#editor')
					});
				$("#third_text").click(function(){
					if($("#editor").val().length==0){
						alert("内容不能为空！");
						return false;
					}
				})
		</script>
#{/set}



