<style>
.type_select{
background-color: #E6E6E6;
}
.upload_content_top_name{
cursor: pointer;
}
</style>
<div class="redbar"></div>
<div class="upload_content_container">
	<form action="@{Ideas.addIdea}" name="myform" id ="myform" method="post"  enctype="multipart/form-data">
	<input  type="hidden" id = "title" value="" name="title"/>
	<div class="register_content">
		<div class="upload_content_top none"><!-- 第一张的时候隐藏该div标签 none  -->
			<h1 class="upload_content_top_name" >返回第一步~</h1>
			<ul class="content_top"><!-- 要显示标签请去掉hidden  -->
				<li class="content_top_item hidden"><h1>1</h1><h1>发布类型</h1></li>
				<li class="content_top_item content_top_item_center hidden"><h1>2</h1><h1>图文</h1></li>
				<li class="content_top_item hidden"><h1>√</h1><h1>发布成功</h1></li>
			</ul>
		</div>
		
	<div class="content_center">
		 <!-- one item 要显示请去掉none-->
		<div class="upload_content_center_item1 ">
			<h1 class="upload_content_center_item1_title">给灵感取个动听的名字</h1>
			<input class="upload_content_center_item1_input" type="text" id = "first_content"/>
			<a href="#" class="content_center_item_next" id ="first">下一步</a>
		</div>

		<!-- one item 要显示请去掉none-->
		<div class="upload_content_center_item2 item_border_top none">
			<div class="upload_content_center_item2_center">
				<a class="upload_content_center_item2_select type_select" alt="0" href="#">图文</a>
				<a class="upload_content_center_item2_select" alt="1" href="#">音频</a>
				<a class="upload_content_center_item2_select" alt="2" href="#">视频</a>
			</div>
			<input type="hidden" name="type" value="0" id = "upload_hidden"/>
			<a href="#" class="content_center_item_next" id = "secend">下一步</a>
		</div>

		<!-- one item 要显示请去掉none-->
		<div class="upload_content_center_item3 item_border_top none">

			<textarea id="editor" placeholder="这里输入内容" name = "text"></textarea>
			<div class="upload_content_center_item3_button_container">
				<a href="#" class="content_center_item_next" id="third_text">下一步</a>
			</div>
		</div>

		<!-- one item 要显示请去掉none-->
		<div class="upload_content_center_item4 item_border_top none">
			<a class="upload_content_center_item2_select"  href="#" id="selcectsong">选择歌曲</a>
			<a class="upload_content_center_item2_select"  href="#" id="selcectlrc">选择歌词</a>
			<a href="#" style="clear:both" class="content_center_item_next" id="third_track">下一步</a>
			<input type="file" name="song" value=""  id ="songinput">
			<input type="file" name="lrc" value=""  id ="lrcinput">
			<button type="submit">上传</button>
		</div>

		<!-- one item 要显示请去掉none-->
		<div class="upload_content_center_item5 item_border_top none">
			<h1>视频地址</h1>
			<input placeholder="支持优酷、土豆、爱奇艺……" type = "text" id ="videoinput" name="videourl"/>
			<a href="#" class="content_center_item_next" id="third_video">下一步</a>
		</div>

		<!-- one item 要显示请去掉none-->
		<div class="upload_content_center_item6 item_border_top none">
			<h1>灵感发表成功!</h1>
			<a href="#" class="content_center_item_next">查看刚发布的灵感</a>
		</div>
		
	</div>
	</form>
</div>
</div>

