<div class="singer_banner">
  <div class="singer_banner_main">
      <div class="user_header_container">
         <div class="user_header">
            <p>上午好，<span>${nickname}</span> 欢迎回来。</p>
         </div><!-- end user_header -->
     </div><!-- user_header_container -->

<!-- 滚动屏 -->
    <div class="banner_block_container">
      <div class="banner_block">

<!-- 滚动屏—搜索模块 -->
      <div class="banner_search_block">
        <ul>
          <li><a class="bold" href="#">热门搜索：</a></li>
          <li><a href="#">陈奕迅</a></li>
          <li><a href="#">最炫民族风</a></li>
          <li><a href="#">我是歌手</a></li>
        </ul>
        
           <div class="banner_search_block_form">
            <form action="/dev/testsinger" method="post">
        <input type="text">
            <label>请输入您要搜索的<span>歌名</span>或<span>歌手</span></label>
        <button type="submit"></button>
        </form>
           </div> <!-- end  banner_search_block_form-->
          
      </div> <!-- end  banner_search_block-->

<!-- 滚动屏——相册 -->
      <div class="banner_gallery">
        <div class="banner_introduce_block">     
            <h2 class="banner_introduce_block_title">${nickname}<span class="myspace-ways"><a href="#">编辑</a>&nbsp;|&nbsp;<a href="">预览</a></span></h2>
             <p class="banner_introduce_block_content">这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介…… <a href="#">&gt;&gt;</a>
             </p>
            <ul class="banner_introduce_block_list">
            <li><h3>评分</h3><p class="star">★ ★ ★ ★ ☆<span>4</span></p></li>
            <li><h3>乐队</h3><p>乐队名称</p></li>
            <li><h3>专辑</h3><p>专辑名1、专辑名2、专辑名3、专辑名4……</p></li>
            <li class="noborder"><h3>热门歌曲</h3><p>热门歌曲名1、热门歌曲名2、热门歌曲名3……</p></li>
          </ul>         
          <a class="collect" href="#"><img src="/public/images/singer/icon_collect.png">&nbsp;&nbsp;收藏</a>
          <a class="collect" href="#"><img src="/public/images/singer/icon_good.png">&nbsp;&nbsp;点赞</a>
        <a class="collect" href="#"><img src="/public/images/myspace_index/icon_mail.png">&nbsp;&nbsp;站内信</a>
        <div class="share">
              <!-- JiaThis Button BEGIN -->
        <span>分享到：</span>
       <div class="jiathis_style">
          <a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
          <a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
          <a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
          <a class="jiathis_button_weixin" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>
          <a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
          <a class="jiathis_button_xiaoyou" title="分享到朋友网"><span class="jiathis_txt jtico jtico_xiaoyou"></span></a>
          <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
          <a class="jiathis_counter_style"><span class="jiathis_button_expanded jiathis_counter jiathis_bubble_style" id="jiathis_counter_27" title="累计分享0次">0</span></a>
        </div>
             <!-- JiaThis Button END -->
        </div><!-- end share -->
      </div><!-- end banner_introduce_block -->
       <div class="banner_block_gradient">
      </div><!-- end banner_block_gradient -->

       
          <ul class="banner_gallery_pics">
       <!-- 一个item代表一个大框 -->
         <li class="banner_gallery_item nodisplay"><!-- 一个item -->
          <img class="banner_gallery_item_img" src="/public/images/band/band.png">
          </li><!-- end 一个item -->
          <li class="banner_gallery_item nodisplay"><!-- 一个item -->
          <img class="banner_gallery_item_img" src="/public/images/index/banner_gallery2.png">
          </li><!-- end 一个item -->
          <li class="banner_gallery_item display"><!-- 一个item -->
          <img class="banner_gallery_item_img" src="/public/images/index/banner_gallery3.png">
          </li><!-- end 一个item -->
          <li class="banner_gallery_item nodisplay"><!-- 一个item -->
          <img class="banner_gallery_item_img" src="/public/images/index/banner_gallery4.png">
          </li><!-- end 一个item -->
        </ul>



         </div><!-- end banner_gallery -->
      </div> <!-- end banner_block -->
    </div> <!-- end banner_block_container -->
   </div><!-- end singer_banner_main -->
         
         <div class="banner_scroll_container">
         <div class="banner_scroll">
            <ul style="width: 88px;">
             <li><a class="banner_scroll_1" href="javascript:void(0)"></a></li>
              <li><a class="banner_scroll_2" href="javascript:void(0)"></a></li>
             <li><a class="banner_scroll_3 banner_scroll_2_act" href="javascript:void(0)"></a></li>
            <li><a class="banner_scroll_4" href="javascript:void(0)"></a></li>
            </ul>
        </div> <!-- end banner_scroll -->
       </div><!-- banner_scroll_container -->
 </div>

<div class="content clearfix">
  <h2 class="content_title">管理您的歌曲</h2>
      <ul class="content_top100">
      <a class="content_title_top100" href="#">
        <span>上传作品</span>
        <i class="content_title_top100_logo"></i>
      </a>
      <li class="content_top100_item">
          <ul class="content_top100_item_container">
            <li class="content_top100_item_num"><input type="checkbox"></li>
            <li class="content_top100_item_titie"><a>葡萄成熟时<i>/more</i></a></li>
            <li class="content_top100_item_message">演唱：陈易迅</li>
            <li class="content_top100_item_message">填词：黄伟华</li>
            <li class="content_top100_item_message">作曲：kingda young</li>
            <li class="content_top100_item_button">
              <a class="content_top100_item_edit" href="#"></a>
              <a class="content_top100_item_delete" href="#"></a>
            </li>
         </ul>
                  <!-- end content_top100_item_container -->
        </li><!-- end content_top100_item -->

        <li class="content_top100_item">
          <ul class="content_top100_item_container">
            <li class="content_top100_item_num"><input type="checkbox"></li>
            <li class="content_top100_item_titie"><a>葡萄成熟时<i>/more</i></a></li>
            <li class="content_top100_item_message">演唱：陈易迅</li>
            <li class="content_top100_item_message">填词：黄伟华</li>
            <li class="content_top100_item_message">作曲：kingda young</li>
            <li class="content_top100_item_button">
              <a class="content_top100_item_edit" href="#"></a>
              <a class="content_top100_item_delete" href="#"></a>
            </li>
         </ul>
                  <!-- end content_top100_item_container -->
        </li><!-- end content_top100_item -->

        <li class="content_top100_item">
          <ul class="content_top100_item_container">
            <li class="content_top100_item_num"><input type="checkbox"></li>
            <li class="content_top100_item_titie"><a>葡萄成熟时<i>/more</i></a></li>
            <li class="content_top100_item_message">演唱：陈易迅</li>
            <li class="content_top100_item_message">填词：黄伟华</li>
            <li class="content_top100_item_message">作曲：kingda young</li>
            <li class="content_top100_item_button">
              <a class="content_top100_item_edit" href="#"></a>
              <a class="content_top100_item_delete" href="#"></a>
            </li>
         </ul>
                  <!-- end content_top100_item_container -->
        </li><!-- end content_top100_item -->
      </ul>

      <h2 class="content_title content_title_nomarginbotom">管理你的专辑</h2>
      <div class="content_ablums_container">
                <!-- 更多专辑 -->
        <a class="content_title_top100" href="#"><span>更多专辑</span><i class="content_title_ablum_logo"></i></a>


           <ul class="content_ablums" id="content_ablums">


             <li class="content_ablum_item">
              <ul class="content_ablum_item_content">
                <li class="content_ablum_item_img"><img src="/public/images/index/content_list_picture.png"></li>
                <li class="content_ablum_item_title">专辑名称</li>
                <li class="content_ablum_item_do">
                  <a class="content_ablum_item_do_edit common-font-edit" href="#">编辑专辑</a>
                  <a class="content_ablum_item_do_delete common-font-edit" href="#">删除</a>
              </li> 
                <li class="content_ablum_item_date">2014-11-26</li> 
              </ul><!-- end content_ablum_item_content -->
            </li> <!-- end content_ablum_item -->

            <li class="content_ablum_item">
              <ul class="content_ablum_item_content">
                <li class="content_ablum_item_img"><img src="/public/images/index/content_list_picture.png"></li>
                <li class="content_ablum_item_title">专辑名称</li>
                <li class="content_ablum_item_do">
                  <a class="content_ablum_item_do_edit common-font-edit" href="#">编辑专辑</a>
                  <a class="content_ablum_item_do_delete common-font-edit" href="#">删除</a>
              </li> 
                <li class="content_ablum_item_date">2014-11-26</li> 
              </ul><!-- end content_ablum_item_content -->
            </li> <!-- end content_ablum_item -->

            <li class="content_ablum_item">
              <ul class="content_ablum_item_content">
                <li class="content_ablum_item_img"><img src="/public/images/index/content_list_picture.png"></li>
                <li class="content_ablum_item_title">专辑名称</li>
                <li class="content_ablum_item_do">
                  <a class="content_ablum_item_do_edit common-font-edit" href="#">编辑专辑</a>
                  <a class="content_ablum_item_do_delete common-font-edit" href="#">删除</a>
              </li> 
                <li class="content_ablum_item_date">2014-11-26</li> 
              </ul><!-- end content_ablum_item_content -->
            </li> <!-- end content_ablum_item -->
          
          <li class="content_ablum_item">
              <ul class="content_ablum_item_content">
                <li class="content_ablum_item_img"><img src="/public/images/index/content_list_picture.png"></li>
                <li class="content_ablum_item_title">专辑名称</li>
                <li class="content_ablum_item_do">
                  <a class="content_ablum_item_do_edit common-font-edit" href="#">编辑专辑</a>
                  <a class="content_ablum_item_do_delete common-font-edit" href="#">删除</a>
              </li> 
                <li class="content_ablum_item_date">2014-11-26</li> 
              </ul><!-- end content_ablum_item_content -->
            </li> <!-- end content_ablum_item -->

            <li class="content_ablum_item">
              <ul class="content_ablum_item_content">
                <li class="content_ablum_item_img"><img src="/public/images/index/content_list_picture.png"></li>
                <li class="content_ablum_item_title">专辑名称</li>
                <li class="content_ablum_item_do">
                  <a class="content_ablum_item_do_edit common-font-edit" href="#">编辑专辑</a>
                  <a class="content_ablum_item_do_delete common-font-edit" href="#">删除</a>
              </li> 
                <li class="content_ablum_item_date">2014-11-26</li> 
              </ul><!-- end content_ablum_item_content -->
            </li> <!-- end content_ablum_item -->

          </ul><!-- end content_ablum  -->
       </div>
      <div class="band_logo_container">
          <div class="content_band_logo"></div>
      </div>
    <div class="content_band_gallery_container">
          <div class="content_band_gallery">
                <img src="/public/images/singer/band.png">
                <div class="gallery_color_bar"></div>
               <div class="band_gallery_introduce_block">
                <h2>您的乐队<br><span>XX乐队</span></h2>
               <p>这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介，
                这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介…… <a href="#">&gt;&gt;</a></p>
                <a class="content-band-edit common-font-edit" href="#">管理乐队</a>
               </div><!-- end band_gallery_introduce_block -->
          </div><!-- end content_band_gallery -->
     </div>

<h2 class="content_title content_title_nomarginbotom">管理你的视频</h2>
<div class="content_singer_gallery_container">
          <a class="content_title_top100" href="#"><span>更多视频</span><i class="content_title_pic_logo"></i></a>
            <div class="content_singer_gallery">

         
                  <div class="content-video-row"><!-- 一行开始    -->   
                     <div class="content_singer_gallery_item">
                          <img src="/public/images/singer/gallery_02.png">
                          <div class="content_singer_gallery_item_content">
                          <a class="content-video-manager">视频的名字会很长很长很长很长</a>
                          <a class="content_singer_gallery_item_date">2014-7-16</a>
                          <a class="content-video-icon common-font-edit" href="#" >可见</a>
                          </div>
                    </div><!-- content_singer_gallery_item -->

                    <div class="content_singer_gallery_item">
                          <img src="/public/images/singer/gallery_02.png">
                          <div class="content_singer_gallery_item_content">
                          <a class="content-video-manager">视频的名字会很长很长很长很长</a>
                          <a class="content_singer_gallery_item_date">2014-7-16</a>
                          <a class="content-video-icon common-font-edit" href="#" >可见</a>
                          </div>
                    </div><!-- content_singer_gallery_item -->

                    <div class="content_singer_gallery_item">
                          <img src="/public/images/singer/gallery_02.png">
                          <div class="content_singer_gallery_item_content">
                          <a class="content-video-manager">视频的名字会很长很长很长很长</a>
                          <a class="content_singer_gallery_item_date">2014-7-16</a>
                          <a class="content-video-icon common-font-edit" href="#" >可见</a>
                          </div>
                    </div><!-- content_singer_gallery_item -->

                </div><!-- 一行开始    -->   
                

                <div class="content-video-row"><!-- 一行开始    -->   
                     <div class="content_singer_gallery_item">
                          <img src="/public/images/singer/gallery_02.png">
                          <div class="content_singer_gallery_item_content">
                          <a class="content-video-manager">视频的名字会很长很长很长很长</a>
                          <a class="content_singer_gallery_item_date">2014-7-16</a>
                          <a class="content-video-icon common-font-edit" href="#" >可见</a>
                          </div>
                    </div><!-- content_singer_gallery_item -->

                    <div class="content_singer_gallery_item">
                          <img src="/public/images/singer/gallery_02.png">
                          <div class="content_singer_gallery_item_content">
                          <a class="content-video-manager">视频的名字会很长很长很长很长</a>
                          <a class="content_singer_gallery_item_date">2014-7-16</a>
                          <a class="content-video-icon common-font-edit" href="#" >可见</a>
                          </div>
                    </div><!-- content_singer_gallery_item -->

                    <div class="content_singer_gallery_item">
                          <img src="/public/images/singer/gallery_02.png">
                          <div class="content_singer_gallery_item_content">
                          <a class="content-video-manager">视频的名字会很长很长很长很长</a>
                          <a class="content_singer_gallery_item_date">2014-7-16</a>
                          <a class="content-video-icon common-font-edit" href="#" >可见</a>
                          </div>
                    </div><!-- content_singer_gallery_item -->

                </div><!-- 一行开始    -->   
             </div>
       </div><!-- content_singer_gallery -->
     
     <div class="content_comment_container">
    <div class="content_comment">多说评论模块
     </div><!-- end content_comment -->
      </div>


 </div>