<script id="myspace_tpl" type="text/template">
    <div class="banner_introduce_block">
        <h2 class="banner_introduce_block_title">${nickname}<span class="myspace-ways"><a href="#">编辑</a>&nbsp;|&nbsp;<a href="">预览</a></span></h2>
        <p class="banner_introduce_block_content">这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介，这里是一段歌手的简介…… <a href="#">&gt;&gt;</a>
        </p>
        <ul class="banner_introduce_block_list">
            <li><h3>评分</h3><p class="star">★ ★ ★ ★ ☆<span>4</span></p></li>
            <li><h3>乐队</h3><p>乐队名称</p></li>
            <li><h3>专辑</h3><p>专辑名1、专辑名2、专辑名3、专辑名4……</p></li>
            <li class="noborder"><h3>热门歌曲</h3><p>热门歌曲名1、热门歌曲名2、热门歌曲名3……</p></li>
        </ul>
        <a class="collect" href="#"><img src="/public/images/singer/icon_collect.png">&nbsp;&nbsp;收藏</a>
        <a class="collect" href="#"><img src="/public/images/singer/icon_good.png">&nbsp;&nbsp;点赞</a>
        <a class="collect" href="#"><img src="/public/images/myspace_index/icon_mail.png">&nbsp;&nbsp;站内信</a>
        <div class="share">
            <!-- JiaThis Button BEGIN -->
            <span>分享到：</span>
            <div class="jiathis_style">
                <a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
                <a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
                <a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
                <a class="jiathis_button_weixin" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>
                <a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
                <a class="jiathis_button_xiaoyou" title="分享到朋友网"><span class="jiathis_txt jtico jtico_xiaoyou"></span></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"><span class="jiathis_button_expanded jiathis_counter jiathis_bubble_style" id="jiathis_counter_27" title="累计分享0次">0</span></a>
            </div>
            <!-- JiaThis Button END -->
        </div><!-- end share -->
    </div><!-- end banner_introduce_block -->
</script>
