<div class="singer_banner">
    <div class="singer_banner_main">
      <div class="user_header_container">
          <div class="user_header">
              <p>上午好，<span>用户名123</span> 欢迎回来。</p>
          </div><!-- end user_header -->
      </div><!-- user_header_container -->

<!-- 滚动屏 -->
      <div class="banner_block_container">
          <div class="banner_block">

<!-- 滚动屏—搜索模块 -->
              <div class="banner_search_block">
                  <ul>
                    <li><a class="bold" href="#">热门搜索：</a></li>
                    <li><a href="#">陈奕迅</a></li>
                    <li><a href="#">最炫民族风</a></li>
                    <li><a href="#">我是歌手</a></li>
                  </ul>
        
               <div class="banner_search_block_form">
                <form action="/dev/testsinger" method="post">
                     <input type="text">
                     <label>请输入您要搜索的<span>歌名</span>或<span>歌手</span></label>
                     <button type="submit"></button>
                </form>
               </div> <!-- end  banner_search_block_form-->
          
              </div> <!-- end  banner_search_block-->

<!-- 滚动屏——相册 -->
              <div class="banner_gallery">
                   <div class="banner_introduce_block">     
                      
                         

                          <div class="share">
                                <!-- JiaThis Button BEGIN -->
                          <span>分享到：</span>
                             <div class="jiathis_style">
                                <a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
                                <a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
                                <a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
                                <a class="jiathis_button_weixin" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>
                                <a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
                                <a class="jiathis_button_xiaoyou" title="分享到朋友网"><span class="jiathis_txt jtico jtico_xiaoyou"></span></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"><span class="jiathis_button_expanded jiathis_counter jiathis_bubble_style" id="jiathis_counter_27" title="累计分享0次">0</span></a>
                              </div>
                               <!-- JiaThis Button END -->
                          </div><!-- end share -->

                    </div><!-- end banner_introduce_block -->

                <div class="banner_block_gradient">
                </div><!-- end banner_block_gradient -->

       
                <ul class="banner_gallery_pics">
             <!-- 一个item代表一个大框 -->
               <li class="banner_gallery_item nodisplay"><!-- 一个item -->
                <img class="banner_gallery_item_img" src="/public/images/band/band.png">
                </li><!-- end 一个item -->
                <li class="banner_gallery_item nodisplay"><!-- 一个item -->
                <img class="banner_gallery_item_img" src="/public/images/index/banner_gallery2.png">
                </li><!-- end 一个item -->
                <li class="banner_gallery_item nodisplay"><!-- 一个item -->
                <img class="banner_gallery_item_img" src="/public/images/index/banner_gallery3.png">
                </li><!-- end 一个item -->
                <li class="banner_gallery_item display"><!-- 一个item -->
                <img class="banner_gallery_item_img" src="/public/images/index/banner_gallery4.png">
                </li><!-- end 一个item -->
              </ul>



              </div><!-- end banner_gallery -->
      </div> <!-- end banner_block -->
    </div> <!-- end banner_block_container -->
   </div><!-- end singer_banner_main -->
         
         <div class="banner_scroll_container">
         <div class="banner_scroll">
            <ul style="width: 88px;">
             <li><a class="banner_scroll_1" href="javascript:void(0)"></a></li>
              <li><a class="banner_scroll_2" href="javascript:void(0)"></a></li>
             <li><a class="banner_scroll_3" href="javascript:void(0)"></a></li>
            <li><a class="banner_scroll_4 banner_scroll_3_act" href="javascript:void(0)"></a></li>
            </ul>
        </div> <!-- end banner_scroll -->
       </div><!-- banner_scroll_container -->
    
</div>


<div class="ablum_content">
  <h1>专辑介绍</h1>
  <div class="ablum_content_introduce">
      <div class="ablum_content_introduce_content">
           <p id = "note"></p>
      </div>
     <a href="#" class="ablum_content_introduce_more"></a>
  </div>
  <div class="ablum_content_list">
      <ul>
        <li class="ablum_content_list_title"><span class="song">歌曲</span><span class="hot">热度</span></li>
        <ul class="ablum_content_list_items">
          </ul>

        <li class="ablum_content_list_buttons ablum_content_list_item">
              <input type="checkbox" />
              <a href="#" class="buttons_1" >播放选中歌曲</a>
              <a href="#" class="buttons_2" >添加到歌单</a>

        </li>
      </ul>
  </div>


  <div class="comment">duoshuo comment</div>
</div>