<script id="albumTrackTpl" type="text/template">
        {@each data.tracklist as it,index}
			<li class="ablum_content_list_item">
              <input type="checkbox" />
              <span class="song">${it.name}</span>
              <span class="hot">
                <span class="number">6000</span>
                <span class="redbar"><i></i></span>
                <a class="buttons buttons_1" href="#"></a>
                <a class="buttons buttons_2" href="#"></a>
                <a class="buttons buttons_3" href="#"></a>
                <a class="buttons buttons_4" href="#"></a>
              </span>
            </li>
        {@/each}
</script>	
