#{extends 'ApplicationManager/base.html' /}
#{ set acceptBandrequest:"active" /}
#{ set musicManagerActive:"active" /}

<table class="table table-hover table-bordered">
	<tr>
		<th width="15%">申请人</th>
		<th width="15%">乐队名</th>
		<th>乐队简介</th>
		<th width="15%">申请时间</th>
		<th width="15%">是否允许</th>
	</tr>
	#{list requestlist, as:'item'}
	<tr>
		<td>${item.findUserByUserId(item.userId).nickname}</td>
		<td>${item.bandName}</td>
		<td>${item.content}</td>
		<td>${new Date(item.createTime).simpleDateTime()}</td>

		<td><a class="btn btn-info"
			href="@{ApplicationManager.BandResetStatus(item.id,pageBean.curPage,item.status)}">重置</a>
			<a a class="btn btn-danger"
			href="@{ApplicationManager.rejectbandrequest(item.id,pageBean.curPage,item.status)}">拒绝</a>
		</td>




	</tr>
	#{/list}
</table>
#{page pageBean: pageBean, params : params/}



