#{extends 'mana-main.html' /}
#{ set userManageActive :"active" /}
<form class="bs-docs-example form-horizontal" action="@{ApplicationManager.setPassword()}" method="post">
	<fieldset>
		<input type="hidden" value ="${id}" name = "id">
		<legend>密码设置</legend>
		<div class="control-group">
			<label class="control-label" for="password">请输入密码</label>
			<div class="controls">
				<input type="text" id="password" name = "password"  required="required">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="vaildword">再次输入密码</label>
			<div class="controls">
				<input type="text" id="vaildword" name = "vaildword" required="required">
			</div>
		</div>

		<div class="controls">

			<button type="submit" class="btn btn-primary">设置</button>
			<button type="reset" class="btn btn-primary">重置</button>
		</div>
	</fieldset>



</form>




