<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/reset.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/header.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/footer.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/color.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/font.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/login.css'}">
           #{get 'moreStyles' /}
        
        
    </head>
    <body>
        <div class="all">
			<div class="header_container">
			<div class="header">
				<div class="header_logo"><img src="@{'/public/images/iMuseLogo.png'}"/></div>
				<div class="header_nav">
				 <ul>
					<li><a title="index" href="@{Dev.testindex()}">HOME</a></li>
					<li><a title="music" href="@{Dev.testRanklist()}">i榜单</a></li>
					<li><a title="music" href="#">i音乐</a></li>
					<li><a title="music" href="#">iNews</a></li>
					<li><a title="music" href="#">创作</a></li>
					<li><a title="music" href="#">教程</a></li>
				 </ul>
				</div>
				<div class="header_service">
					<ul>
						<li class="header_service_item"><a href="#"><img src="@{'/public/images/index/icon_my_music.png'}" /><span>我的音乐</span></a></li>
						<li class="header_service_item"><a href="#"><img src="@{'/public/images/index/icon_idea_zone.png'}" /><span>灵感空间</span></a></li>
					<li class="header_service_item"><a href="#"><img src="@{'/public/images/index/icon_my_homepage.png'}" /><span>我的空间</span></a></li>
						<li class="header_service_item">
							<ul>
								<li><a class="fa fa-twitter" href="#"></a><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a><a class="fa fa-instagram" href="#"></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- end header -->
			</div>
			<!-- end header_container -->
        #{doLayout /}
   </div><!-- end all -->
       <script src="@{'/public/javascripts/jquery.1.10.2.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	    <script src="@{'/public/javascripts/include.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/header.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/login_checkout.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/login.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </body>
</html>
