#{extends 'AlbumManager/index.html' /} 
#{ set addAlbum :"active" /}
 <form class="addAlbum" action="@{AlbumManager.addAlbumById(username,name,copyright,note)}">
        <h2 class="form-signin-heading">添加一张专辑</h2>
        <br>
        <label>请输入专辑名称（必填）
        	<input type="text" class="input-block-level" name="name" placeholder="专辑名称"></label>
       <label>请输入作者名称（必填）
        	<input type="text" class="input-block-level"  name="username" placeholder="作者名称"></label>
       <label>请输入版权信息（必填）
        	<input type="text" class="input-block-level" name="copyright" placeholder="版权信息"></label>
       <label>请输入备注（可选）
        	<input type="text" class="input-block-level" name="note" placeholder="备注"></label> 	

        <label for="inputfile">专辑图片（可选）</label>
             <input type="file" id="inputfile" name="f">
             <p class="help-block">选择专辑图片</p>
        <button class="btn btn-large btn-primary" type="submit">保存</button>
      </form>