<!-- start  myspace_index_container -->
	<div class="myspace_index_container">
		<div class="myspace_index_container_red_bar"></div>


<!-- start  top_container -->
		<div class="myspace_index_container_banner_top_container">
	<!-- start  top_rel -->
			<div class="myspace_index_container_banner_top_container_rel">
		<!-- start  banner_search_block -->
				<div class="banner_search_block">
    				<ul>
    					<li><a class="bold" href="#">热门搜索：</a></li>
    					<li><a href="#">陈奕迅</a></li>
		    			<li><a href="#">最炫民族风</a></li>
		    			<li><a href="#">我是歌手</a></li>
    				</ul>
    		
           			<div class="banner_search_block_form">
            			<form action="#" method="post">
    						<input type="text">
            				<label style="display: block;">请输入您要搜索的<span>歌名</span>或<span>歌手</span></label>
    						<button type="submit"></button>
    					</form>
    					
           			</div><!-- end  banner_search_block_form-->
           			<div class="banner_search_block_shadow">
         				<div class="banner_search_block_shadow_left"></div>
         				<div class="banner_search_block_shadow_right"></div>
       				</div>
    			</div>
		<!-- end  banner_search_block -->

		<!-- start  face -->
				<div class="banner_top_face">
					<img src="@{'/public/images/myspace_index/face.jpg'}" />
				</div>
		<!-- end  face -->
			</div>
	<!-- end  top_rel -->
		</div>
<!-- end  top_container -->



<!-- start  bottom_container -->
		<div class="myspace_index_container_banner_bottom_container">
			<div class="myspace_index_container_banner_bottom_container_rel">
	<!-- start  introdece_block -->
				<div class="banner_bottom_rel_introduce_block">
					<!--   <h1>用户名</h1>
					<p>来到imuse<span>100</span>天了，</p>
					<p>发布作品<span>99</span>首，视频<span>99</span>个，灵感<span>300</span>条，日志<span>99</span>篇</p>
					<p>下面是<span>用户名</span>的故事......</p>  -->
				</div>
	<!-- end  introdece_block -->
	
	<!-- start  introdece_image -->
				<div class="introduce_image_block">
					<img src="@{'/public/images/myspace_index/band_face.jpg'}" />
				</div>
	<!-- end  introdece_image -->
				<div class="banner_ingredient">
				</div>
			</div>
		</div>
<!-- end  bottom_container -->
		

<!-- start  big_container -->
		<div class="big_container">
			<div class="big_container_rel">
				<ul class="big_container_rel_items" >
				</ul>
			</div>
		</div>
<!-- end  big_container -->
	</div>
<!-- end  myspace_index_container -->