<script id="tpl_photoTag" type="text/template">
        {@each data as it,index}
			 <div class="content_singer_gallery_item">
            <img src="/public/images/singer/gallery_02.png"/>
            <div class="content_singer_gallery_item_content">
            <a class="content_singer_gallery_item_date">${it.createTimeDesc}</a>
            <a class="content_singer_gallery_item_good"><i></i>59</a>
            </div><!-- content_singer_gallery_item_content -->
          	</div><!-- content_singer_gallery_item -->
        {@/each}
       
</script>