<div class="banner">
    <div class="banner_block_container">
    	<div class="banner_block">
    	<div class="banner_search_block">
    		<ul>
    			<li><a class="bold" href="#">热门搜索：</a></li>
    			<li><a href="#">陈奕迅</a></li>
    			<li><a href="#">最炫民族风</a></li>
    			<li><a href="#">我是歌手</a></li>
    			<li><a href="#">品冠</a></li>
    			<li><a href="#">GEM</a></li>
    			<li><a href="#">法海你不懂爱</a></li>
    		</ul>
    		
           <div class="banner_search_block_form">
            <form action="#" method="post">
    		<input type="text" />
            <label>请输入您要搜索的<span>歌名</span>或<span>歌手</span></label>
    		<button type="submit"></button>
    		</form>
           </div>
           <!-- end  banner_search_block_form-->
    	</div>
      <!-- end  banner_search_block-->
    	   <div class="banner_gallery">
    		<ul class="banner_gallery_pics">


    <!-- <li class="banner_gallery_item"><a href="#"><img src="@{'/public/images/index/banner_gallery1.png'}" /></a></li>
    <li class="banner_gallery_item"><a href="#"><img src="@{'/public/images/index/banner_gallery2.png'}" /></a></li>
    <li class="banner_gallery_item"><a href="#"><img src="@{'/public/images/index/banner_gallery3.png'}" /></a></li>
    <li class="banner_gallery_item"><a href="#"><img src="@{'/public/images/index/banner_gallery4.png'}" /></a></li> -->
  		
      

    		</ul>
        <a id="banner_top" target="_bank" href="" ></a>
        
    	   </div>
    	</div>
    	<!-- end banner_block -->
    </div>
    <!-- end banner_block_container -->
         <div class="banner_scroll">
            <ul>
             <li><a class="banner_scroll_1 banner_scroll_0_act" href="javascript:void(0)"></a></li>
              <li><a class="banner_scroll_2" href="javascript:void(0)"></a></li>
             <li><a class="banner_scroll_3" href="javascript:void(0)"></a></li>
            <li><a class="banner_scroll_4" href="javascript:void(0)"></a></li>
            </ul>
        </div>
        <!-- end banner_scroll -->
    
     </div>
     <!-- end banner -->