<div class="container">

        <div class="content">
                   <!-- 标题 -->
            <h2 class="content_title">全新单曲 on iMuse </h2>
			
            <ul class="content_list">
			<!-- 
            
             <li class="content_list_item">
              <a href="#"><img src="@{'/public/images/index/content_list_picture.png'}"/><i></i></a>
                <div class="content_list_itemContent">
                    <h3>专辑：<a href="#">谁是陈奂仁</a></h3>
                <p class="content_list_itemContent_title"><a href="#">没时间后悔</a></p>
                <p class="content_list_itemContent_author"><a href="#">陈焕仁</a></p>
                <p class="content_list_itemContent_time">上线:2012年6月12日</p>
                </div>
            </li> 
             -->
            </ul> <!-- end content_list -->
         
           <!-- 更多新曲 -->
           <a class="content_foot" href="#"><i></i>更多新曲</a>

        </div>
        <!-- end content -->
     
        <!-- 排行榜 -->
    <div class="rank">
          <!-- 中间固定 -->
        <div class="rank_rel">
            <!-- 榜单头部 -->
            <div class="rank_rel_bar">
                <div class="rank_rel_bar_logo">
                 <i></i><span>i榜单</span>
                </div>
                 <ul class="rank_rel_bar_date">
                        <li id="rank_rel_bar_date_day"><a href="javascript:void(0)">日</a></li>
                        <li ><a href="javascript:void(0)">周</a></li>
                        <li><a href="javascript:void(0)">月</a></li>
                </ul>
                <a class="rank_rel_bar_more" href="#">more</a>
            </div> <!-- end rank_rel_bar -->
               
               <!-- 榜单内容开始 -->
                <div class="rank_rel_content">
                    <ul id="rank_rel_container" class="rank_rel_container">

                     
                   
                   

                	</ul><!-- end rank_rel_container -->
                </div> <!-- end rank_rel_content -->

                <!--  中间的白条-->
              <i class="rank_rel_whiteBar"></i>

            </div><!-- end rank_rel -->
            
    </div>  <!-- end rank-->
  
      <!-- 推荐歌曲 -->
    <div class="recomend">

        <a class="recomend_title" href="#">基于您最近听过的为您推荐</a>

        <div class="recomend_gallery">
            <a class="recomend_gallery_arrow_left" href="javascript:void(0)"></a>
            <a class="recomend_gallery_arrow_right" href="javascript:void(0)"></a>
            <ul class="recomend_gallery_items">
          <div id="recomend_gallery_items_container" class="recomend_gallery_items_container">
            <!-- 一个li 代表一张图片 -->
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
             <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            <li><a href="#"><img src="@{'/public/images/index/index_28.png'}" /></a></li>
            
        </div><!-- end recomend_gallery_items_container -->
            </ul><!-- end recommend_gallery_items -->
        </div><!-- end recomend_gallery -->

      </div>  <!--end recomend  -->

</div><!-- end container -->