<div class="redbarContainer">
  <div class="redbar"></div>
  <p>下午好，<a>免费注册</a>或<a>登陆</a></p>
</div>


#{include 'index_common/banner.html'/}

    <div class="content clearFix">
      <div class="songs">
          <h2 class="content_title content_title_another">你可能会喜欢 <a class="title-edit" href="">换一批</a></h2>
        <ul class="content_list">
             <li class="content_list_item">
              <a href="#"><img src="/public/images/index/content_list_picture.png"/><i></i></a>
                <div class="content_list_itemContent">
                  <h3>专辑：<a href="#">谁是陈奂仁</a></h3>
                  <p class="content_list_itemContent_title"><a href="#">没时间后悔</a></p>
                  <p class="content_list_itemContent_author"><a href="#">陈焕仁</a></p>
                  <p class="content_list_itemContent_time">上线:2012年6月12日</p>
                </div>
            </li> 

            <li class="content_list_item">
              <a href="#"><img src="/public/images/index/content_list_picture.png"/><i></i></a>
                <div class="content_list_itemContent">
                  <h3>专辑：<a href="#">谁是陈奂仁</a></h3>
                  <p class="content_list_itemContent_title"><a href="#">没时间后悔</a></p>
                  <p class="content_list_itemContent_author"><a href="#">陈焕仁</a></p>
                  <p class="content_list_itemContent_time">上线:2012年6月12日</p>
                </div>
            </li>

            <li class="content_list_item">
              <a href="#"><img src="/public/images/index/content_list_picture.png"/><i></i></a>
                <div class="content_list_itemContent">
                  <h3>专辑：<a href="#">谁是陈奂仁</a></h3>
                  <p class="content_list_itemContent_title"><a href="#">没时间后悔</a></p>
                  <p class="content_list_itemContent_author"><a href="#">陈焕仁</a></p>
                  <p class="content_list_itemContent_time">上线:2012年6月12日</p>
                </div>
            </li>
            <li class="content_list_item">
              <a href="#"><img src="/public/images/index/content_list_picture.png"/><i></i></a>
                <div class="content_list_itemContent">
                  <h3>专辑：<a href="#">谁是陈奂仁</a></h3>
                  <p class="content_list_itemContent_title"><a href="#">没时间后悔</a></p>
                  <p class="content_list_itemContent_author"><a href="#">陈焕仁</a></p>
                  <p class="content_list_itemContent_time">上线:2012年6月12日</p>
                </div>
            </li>

        </ul><!-- end list -->


        <h2 class="content_title">最新单曲</h2>
          <ul class="content_top100">
      <a class="content_title_top100" href="#"><span>更多歌曲</span><i class="content_title_top100_logo"></i></a>
          </ul>


          <li class="content_top100_item">
            <ul class="content_top100_item_container">
              <li class="content_top100_item_titie"><a>葡萄成熟时<i>/more</i></a></li>
              <li class="content_top100_item_message">演唱：杨剑达</li>
              <li class="content_top100_item_message">填词：杨剑达</li>
              <li class="content_top100_item_message">作曲：kingda young</li>
              <li class="content_top100_item_button"><a class="content_top100_item_play"></a>
                <a class="content_top100_item_collect"></a></li>
            </ul>
          </li>

          <li class="content_top100_item">
            <ul class="content_top100_item_container">
              <li class="content_top100_item_titie"><a>葡萄成熟时<i>/more</i></a></li>
              <li class="content_top100_item_message">演唱：杨剑达</li>
              <li class="content_top100_item_message">填词：杨剑达</li>
              <li class="content_top100_item_message">作曲：kingda young</li>
              <li class="content_top100_item_button"><a class="content_top100_item_play"></a>
                <a class="content_top100_item_collect"></a></li>
            </ul>
          </li>

          <li class="content_top100_item">
            <ul class="content_top100_item_container">
              <li class="content_top100_item_titie"><a>葡萄成熟时<i>/more</i></a></li>
              <li class="content_top100_item_message">演唱：杨剑达</li>
              <li class="content_top100_item_message">填词：杨剑达</li>
              <li class="content_top100_item_message">作曲：kingda young</li>
              <li class="content_top100_item_button"><a class="content_top100_item_play"></a>
                <a class="content_top100_item_collect"></a></li>
            </ul>
          </li>

          <li class="content_top100_item">
            <ul class="content_top100_item_container">
              <li class="content_top100_item_titie"><a>葡萄成熟时<i>/more</i></a></li>
              <li class="content_top100_item_message">演唱：杨剑达</li>
              <li class="content_top100_item_message">填词：杨剑达</li>
              <li class="content_top100_item_message">作曲：kingda young</li>
              <li class="content_top100_item_button"><a class="content_top100_item_play"></a>
                <a class="content_top100_item_collect"></a></li>
            </ul>
          </li>

          <li class="content_top100_item">
            <ul class="content_top100_item_container">
              <li class="content_top100_item_titie"><a>葡萄成熟时<i>/more</i></a></li>
              <li class="content_top100_item_message">演唱：杨剑达</li>
              <li class="content_top100_item_message">填词：杨剑达</li>
              <li class="content_top100_item_message">作曲：kingda young</li>
              <li class="content_top100_item_button"><a class="content_top100_item_play"></a>
                <a class="content_top100_item_collect"></a></li>
            </ul>
          </li>


        <h2 class="content_title content_title_nomarginbotom content_title_morePadding">最新专辑</h2>
         
          <div class="content_ablums_container">
               
       <a class="content_title_top100" href="#"><span>更多专辑</span><i class="content_title_ablum_logo"></i></a>
           <ul class="content_ablums" id ="content_ablums">

              <li class="content_ablum_item">
                <ul class="content_ablum_item_content">
                  <li class="content_ablum_item_img">
                    <img src="/public/images/index/content_list_picture.png">
                  </li>
                  <li class="content_ablum_item_title">第0个专辑</li>
                  <li class="content_ablum_item_star">★ ★ ★ ★ ☆<span>4</span></li>
                  <li class="content_ablum_item_date">2014年11月26日</li>
                </ul><!-- end content_ablum_item_content -->
              </li>

              <li class="content_ablum_item">
                <ul class="content_ablum_item_content">
                  <li class="content_ablum_item_img">
                    <img src="/public/images/index/content_list_picture.png">
                  </li>
                  <li class="content_ablum_item_title">第0个专辑</li>
                  <li class="content_ablum_item_star">★ ★ ★ ★ ☆<span>4</span></li>
                  <li class="content_ablum_item_date">2014年11月26日</li>
                </ul><!-- end content_ablum_item_content -->
              </li>

              <li class="content_ablum_item">
                <ul class="content_ablum_item_content">
                  <li class="content_ablum_item_img">
                    <img src="/public/images/index/content_list_picture.png">
                  </li>
                  <li class="content_ablum_item_title">第0个专辑</li>
                  <li class="content_ablum_item_star">★ ★ ★ ★ ☆<span>4</span></li>
                  <li class="content_ablum_item_date">2014年11月26日</li>
                </ul><!-- end content_ablum_item_content -->
              </li>

              <li class="content_ablum_item">
                <ul class="content_ablum_item_content">
                  <li class="content_ablum_item_img">
                    <img src="/public/images/index/content_list_picture.png">
                  </li>
                  <li class="content_ablum_item_title">第0个专辑</li>
                  <li class="content_ablum_item_star">★ ★ ★ ★ ☆<span>4</span></li>
                  <li class="content_ablum_item_date">2014年11月26日</li>
                </ul><!-- end content_ablum_item_content -->
              </li>

              <li class="content_ablum_item">
                <ul class="content_ablum_item_content">
                  <li class="content_ablum_item_img">
                    <img src="/public/images/index/content_list_picture.png">
                  </li>
                  <li class="content_ablum_item_title">第0个专辑</li>
                  <li class="content_ablum_item_star">★ ★ ★ ★ ☆<span>4</span></li>
                  <li class="content_ablum_item_date">2014年11月26日</li>
                </ul><!-- end content_ablum_item_content -->
              </li>
           </ul><!-- end content_ablum  -->
      </div><!-- content_ablums_container -->

      </div><!-- end songs  -->
        

        
    </div> <!-- end content-->

