#{include 'index_common/banner.html'/}
	<div class="channel-container clearFix">
		<h2>乐手/乐队</h2>
		<div class="channel-content">
			<a class="tab active">乐手 / BANDSMAN</a><a class="tab">乐队 / BAND</a>
			<ul class="singersList">

				<li class="singersListItem">
					<img src="@{'/public/images/test.jpg'}">
					<div class="item-introduce hidden">
						<h3>乐手名</h3>
						<p class="center">这是一段关于乐手的乐手的简介，这是一段关于乐手的简……</p>
						<p class="tag">Tag:摇滚,民谣,蓝调</p>
						<i class="item-introduce-clothes"></i>
					</div>
				</li>

				<li class="singersListItem">
					<img src="@{'/public/images/test.jpg'}">
					<div class="item-introduce hidden">
						<h3>乐手名</h3>
						<p class="center">这是一段关于乐手的乐手的简介，这是一段关于乐手的简……</p>
						<p class="tag">Tag:摇滚,民谣,蓝调</p>
						<i class="item-introduce-clothes"></i>
					</div>
				</li>

				<li class="singersListItem">
					<img src="@{'/public/images/test.jpg'}">
					<div class="item-introduce hidden">
						<h3>乐手名</h3>
						<p class="center">这是一段关于乐手的乐手的简介，这是一段关于乐手的简……</p>
						<p class="tag">Tag:摇滚,民谣,蓝调</p>
						<i class="item-introduce-clothes"></i>
					</div>
				</li>

				<li class="singersListItem">
					<img src="@{'/public/images/test.jpg'}">
					<div class="item-introduce hidden">
						<h3>乐手名</h3>
						<p class="center">这是一段关于乐手的乐手的简介，这是一段关于乐手的简……</p>
						<p class="tag">Tag:摇滚,民谣,蓝调</p>
						<i class="item-introduce-clothes"></i>
					</div>
				</li>

				<li class="singersListItem">
					<img src="@{'/public/images/test.jpg'}">
					<div class="item-introduce hidden">
						<h3>乐手名</h3>
						<p class="center">这是一段关于乐手的乐手的简介，这是一段关于乐手的简……</p>
						<p class="tag">Tag:摇滚,民谣,蓝调</p>
						<i class="item-introduce-clothes"></i>
					</div>
				</li>

				<li class="singersListItem">
					<img src="@{'/public/images/test.jpg'}">
					<div class="item-introduce hidden">
						<h3>乐手名</h3>
						<p class="center">这是一段关于乐手的乐手的简介，这是一段关于乐手的简……</p>
						<p class="tag">Tag:摇滚,民谣,蓝调</p>
						<i class="item-introduce-clothes"></i>
					</div>
				</li>

				<li class="singersListItem">
					<img src="@{'/public/images/test.jpg'}">
					<div class="item-introduce hidden">
						<h3>乐手名</h3>
						<p class="center">这是一段关于乐手的乐手的简介，这是一段关于乐手的简……</p>
						<p class="tag">Tag:摇滚,民谣,蓝调</p>
						<i class="item-introduce-clothes"></i>
					</div>
				</li>

				<li class="singersListItem">
					<img src="@{'/public/images/test.jpg'}">
					<div class="item-introduce hidden">
						<h3>乐手名</h3>
						<p class="center">这是一段关于乐手的乐手的简介，这是一段关于乐手的简……</p>
						<p class="tag">Tag:摇滚,民谣,蓝调</p>
						<i class="item-introduce-clothes"></i>
					</div>
				</li>


			</ul>
		</div>
		
	</div>